[Unit]
Description=UMTC to Spectr-ITS bridge
After=network.target

[Service]
ExecStart=/usr/bin/node spectr_utmc.js config.json
WorkingDirectory=/home/ripas/scripts/spectr_utmc
Type=simple
Restart=always
RestartSec=30

User=ripas
Group=ripas

[Install]
WantedBy=multi-user.target
