[Unit]
Description = TraffiXtream-2 service
After = network.target

[Service]
WorkingDirectory = /home/voicelink/rtc/traffixtream2
ExecStart = /bin/sh -c 'cd /home/voicelink/rtc/traffixtream2 && ./traffixtream2' 
Restart=always

[Install]
WantedBy = multi-user.target

