[Unit]
Description=SNMPD config copy service

[Service]
Type=oneshot
WorkingDirectory = /home/voicelink/.service/
ExecStart = /bin/sh -c 'cd /home/voicelink/.service/ && ./snmpd_config_ping_nginx'
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target

